# docker-compose.yml
services:
  web:
    image: nginx:latest
    container_name: "firebase_nginx_cms"
    ports:
      - "80:80"
    volumes:
      - ./public:/usr/share/nginx/html:ro
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped

  firebase-cli:
    image: node:20
    container_name: "firebase_cli_cms"
    working_dir: /app
    ports:
      - "4000:4000"
      - "5001:5001"
      - "8080:8080"
      - "9099:9099"
      - "9299:9299"
      - "9150:9150"
      - "9005:9005"
    volumes:
      - .:/app
    command: sh -c "apt-get update && apt-get install -y openjdk-17-jre-headless && npm install -g firebase-tools && tail -f /dev/null"
